@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .calculator {
    width: 470px;
    height: auto;
    background-color: black;
    margin: 150px auto;
    border-radius: 20px;
    padding: 10px;
  }
  
  .display {
    color: white;
    font-size: 3rem;
    text-align: end;
    padding-top: 20px;
    word-wrap: break-word;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
  }
  
  .button {
    border: none;
    color: white;
    border-radius: 17px;
    padding: 28px 30px;
    width: 22%;
    margin: 10px 6px;
    font-size: 2rem;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
  }

  .button:hover {
    filter: brightness(120%);
  }

  .button:active {
    filter: brightness(90%);
  }

  
  .zero-btn {
    padding: 30px 190px 26px 20px;
  }
  
  .btn-blue {
    background-color: #0E53A7;
  }
  
  .btn-green {
    background-color: #00AC6B;
  }

